PORT=3000
NODE_ENV=production
PUBLIC_BASE_URL=http://localhost:3000
TRUST_PROXY=false
DEFAULT_TRACK_URL=https://upload.wikimedia.org/wikipedia/commons/6/63/Sagetyrtle_-_citystreet3_%28cc0%29_%28freesound%29.mp3
